{% block iban_widget -%}
  {% import _self as macros %}
  {% spaceless %}
    <div class="form-inline">
      <div class="input-group">
        {{ form_widget(form.cccd) }}
        {{ form_widget(form.a) }}
        {{ form_widget(form.b) }}
        {{ form_widget(form.c) }}
        {{ form_widget(form.d) }}
        {{ form_widget(form.e) }}
        {{ form_widget(form.f) }}
      </div>
    </div>
  {% endspaceless %}
{%- endblock iban_widget %}

{% block iban_row -%}
  {# Makes it compatible with bootstrap 3 layouts #}
  {% set force_error = true %}
  {{- block('form_row') }}
{%- endblock iban_row %}

{% block iban_simple_widget -%}
  {% import _self as macros %}
  {% spaceless %}
    {{ form_widget(form.value) }}
  {% endspaceless %}
{%- endblock iban_simple_widget %}

{% block iban_simple_row -%}
  {# Makes it compatible with bootstrap 3 layouts #}
  {% set force_error = true %}
  {{- block('form_row') }}
{%- endblock iban_simple_row %}
