{% block iban_widget -%}
  {% import _self as macros %}
  {% spaceless %}
    <div class="form-inline">
      <div class="input-group" data-iban="{{ form.cccd.id }}">
        {{ form_widget(form.cccd) }}
        {{ form_widget(form.a) }}
        {{ form_widget(form.b) }}
        {{ form_widget(form.c) }}
        {{ form_widget(form.d) }}
        {{ form_widget(form.e) }}
        {{ form_widget(form.f) }}
      </div>
      {% if with_js %}
      <script type="text/javascript">
        (function (document) {
          var el = document.querySelector('[data-iban=\"{{ form.cccd.id }}\"]');
          if (el) {
            var inputs = el.querySelectorAll('input');
            var next = null;
            // Starts with the last one
            var i = inputs.length
            for (; i--; 0 <= i) {
              var current = inputs[i];
              if (next) { // Skip the last, it has no next
                (function (next) {
                  current.addEventListener("keyup", function (event) {
                    if (this.value.replace(/[^a-zA-Z0-9]+/).length === 4) {
                      next.focus();
                    }
                  });
                }(next));
              }
              next = current;
            }
          }
        }(document));
      </script>
      {% endif %}
    </div>
  {% endspaceless %}
{%- endblock iban_widget %}

{% block iban_row -%}
  {# Makes it compatible with bootstrap 3 layouts #}
  {% set force_error = true %}
  {{- block('form_row') }}
{%- endblock iban_row %}

{% block iban_simple_widget -%}
  {% import _self as macros %}
  {% spaceless %}
    {{ form_widget(form.value) }}
  {% endspaceless %}
{%- endblock iban_simple_widget %}

{% block iban_simple_row -%}
  {# Makes it compatible with bootstrap 3 layouts #}
  {% set force_error = true %}
  {{- block('form_row') }}
{%- endblock iban_simple_row %}
